.Demos {
    width: 100%;

    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3em;
      row-gap: 3em;
      margin-bottom: 30px;
    }

    &__table {
      margin-bottom: 50px;
    }
}
