.ApiTable {
    padding-top: 30px;

    &__type {
        min-width: 200px;
        code,
        a {
            color: #932981;
        }
    }

    &__name {
        min-width: 200px;
    }

    &__default {
        min-width: 150px;
    }

    a:hover,
    .ButtonView__link:hover {
        text-decoration: underline;
    }
}
