@use "style/variables";

.ComponentDescription {
    padding-bottom: 180px;

    &__text {
        margin-bottom: 40px;

        @supports (text-wrap: balance) {
            text-wrap: balance;
        }
    }

    &__description {
        max-width: 792px;

        @media (max-width: variables.$tablet-width) {
            max-width: 672px;
        }

        @media (max-width: variables.$tablet-width-small) {
            max-width: 520px;
        }
    }

    &__navigation {
        position: sticky;
        top: 32px;
        height: fit-content;
        margin-left: auto;
        grid-area: j;
        transform: translateX(-2px);

        @media (max-width: 1540px) {
            display: none;
        }

        .ButtonView .ButtonView__link .ButtonView__text {
            font-size: variables.$font-size-16;
            font-weight: variables.$font-weight-sm;
            line-height: variables.$line-height-22;

            &::before {
                height: 100%;
                top: 0;
                left: 0;
                left: -24px;
            }
        }
    }
}
