@import "style/variables";

.ComponentDescription {
    &__text {
        margin-bottom: 40px;
    }

    &__description {
        max-width: 790px;
    }

    &__navigation {
        position: sticky;
        top: 32px;
        height: fit-content;
        margin-left: auto;
        grid-area: j;
        transform: translateX(-2px);

        .ButtonView .ButtonView__link .ButtonView__text {
            font-size: $font-size-16;
            font-weight: $font-weight-sm;
            line-height: $line-height-22;

            &::before {
                height: 100%;
                top: 0;
                left: 0;
                left: -24px;
            }
        }
    }
}
