@use "style/variables" as vars;

:root {
    --tab-text-active-color: #312c3a;
    --tab-text-color: #312c3a;
    --tab-icon-color: #323232;
    --tab-icon-active-color: #323232;
}

html[data-theme="dark"] {
    --tab-text-active-color: #312c3a;
    --tab-text-color: #fff;
    --tab-icon-color: #fff;
    --tab-icon-active-color: #323232;
}

$tab-text-active-color: var(--tab-text-active-color);
$tab-text-color: var(--tab-text-color);
$tab-icon-color: var(--tab-icon-color);
$tab-icon-active-color: var(--tab-icon-active-color);

.TabGroupView {
    background-color: vars.$control-background-color;
    width: 452px;
    padding: 4px;
    border-radius: 40px;

    @media (max-width: vars.$m-tablet-width) {
        width: 372px;
    }

    @media (max-width: vars.$m-mobile-width) {
        width: 306px;
    }

    display: flex;
    align-items: center;
    gap: 4px;

    &__button {
        width: 220px;
        border-radius: 40px;
        background-color: vars.$control-background-color;
        color: $tab-text-color;
        padding: 11px 16px;

        @media (max-width: vars.$m-tablet-width) {
            width: 180px;
            padding: 5px 16px;
        }

        @media (max-width: vars.$m-mobile-width) {
            width: 147px;
            padding: 5px 12px;
        }

        .Button__text {
            font-size: vars.$font-size-16;
            font-weight: vars.$font-weight-sm;
            line-height: vars.$line-height-24;

            @media (max-width: vars.$m-tablet-width) {
                font-size: vars.$font-size-14;
                font-weight: vars.$font-weight-sm;
                line-height: vars.$line-height-24;
            }
        }

        &:hover {
            background-color: vars.$control-background-color;
        }

        .IconView svg path,
        rect,
        circle {
            stroke: $tab-icon-color;
        }

        .IconView {
            margin-right: 8px;
        }

        &_active {
            color: $tab-text-active-color;
            background-color: vars.$control-active-background-color;

            &:hover {
                background-color: vars.$control-active-background-color;
            }

            .IconView svg path,
            rect,
            circle {
                stroke: $tab-icon-active-color;
            }
        }
    }
}
