@import "style/variables";

.AdvantagesSection {
    padding-top: 80px;
    padding-bottom: 160px;


    &__cards {
        display: flex;
        column-gap: 16px;
        flex-flow: row nowrap;
    }
}
