@use "style/variables";
@use "style/mixins";

.UiComponentInfo {
    &__content {
        padding: 0 158px 0 80px;
        display: grid;
        grid-template-areas:
            "a"
            "b";

        @media (max-width: 1600px) {
            padding: 0 80px 0px 80px;
        }

        @media (max-width: variables.$tablet-width) {
            padding: 0 24px;
        }

        @media (max-width: variables.$tablet-width-small) {
            padding: 0 12px;
        }

        .ComponentDescription {
            grid-area: a;
            display: grid;
            grid-template-areas: "c j";
        }
    }

    &__demos {
        grid-area: c;
    }

    .ComponentPropsInfo {
        grid-area: b;
    }

    &__trigger {
        position: fixed;
        top: 25.5%;
        left: 0;
        width: 100%;
        background-color: transparent;
        pointer-events: none;
        height: 1px;
    }

    &__tabs {
        margin: 44px 0px 40px 84px;

        @media (max-width: variables.$tablet-width) {
            margin: 32px 0 32px 24px;
        }

        @media (max-width: variables.$tablet-width-small) {
            margin: 32px 0 32px 12px;
        }

        @media (max-width: variables.$mobile-width) {
            margin: 32px auto;
        }
    }

    &__default { 
        @include mixins.markdown();
    }
}
