@import 'style/variables';

.ResourcesSection {
    padding-top: 80px;
    padding-bottom: 160px;


    &__cards {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 16px;

        .ResourceCard { 
            width: 21.6666vw;
            height: 424px;
        }
    }
}
