@import "style/variables";

:root {
    --resource-card-background-color: #ffffff;
}

html[data-theme="dark"] {
    --resource-card-background-color: #272a37;
}

$resource-card-background-color: var(--resource-card-background-color);

.ResourceCard {
    border-radius: 20px;
    background-color: $resource-card-background-color;

    align-items: center;
    padding: 16px;

    @media (max-width: $mobile-width-small) {
        padding: 8px;
        height: 302px !important;
    }

    .CardView__content {
        width: 100%;
        padding: 0;
        padding-top: 16px;
    }

    .CardView__cover {
        height: 220px;
        border-radius: 8px;

        @media (max-width: $mobile-width-small) {
            height: 180px;
        }
    }

    .CardView__title {
        font-size: $font-size-24;
        font-weight: $font-weight-sm;
        line-height: $line-height-34;
        margin-bottom: 16px;
        color: $custom-text-color;

        @media (max-width: $mobile-width-small) {
            font-size: $font-size-14;
            line-height: $line-height-18;
        }
    }

    .CardView__description {
        font-size: $font-size-16;
        font-weight: $font-weight-sm;
        line-height: $line-height-22;
        color: $custom-text-decr-color;

        @media (max-width: $mobile-width-small) {
            font-size: $font-size-12;
            font-weight: 300;
            line-height: $line-height-16;
        }
    }
}
