@import "style/variables";

.ResourceCard {
    border-radius: 20px;

    .CardView {
        &__cover {
            padding: 16px 16px 0 16px;
            height: 220px;

            img {
                border-radius: 8px;
            }
        }

        &__title {
            font-size: $font-size-24;
            font-weight: $font-weight-sm;
            line-height: $line-height-34;
            margin-bottom: 16px;
        }

        &__description {
            font-size: $font-size-16;
            font-weight: $font-weight-sm;
            line-height: $line-height-22;
            opacity: 0.6;
        }
    }
}
