:root {
    --custom-text-color: #000000;
    --custom-text-descr-color: rgba(0, 0, 0, 0.6);
    --custom-text-descr-color-revert: rgba(255, 255, 255, 0.6);
    --custom-text-color-base: rgba(0, 0, 0, 0.30);
    --custom-main-background-color: #ffffff;
    --custom-background-color: #ffffff;
    --custom-background-color-f9: #f9f9f9;
    --custom-background-color-f9-additional: #f9f9f9;
    --control-background-color: #f1f5f7;
    --control-active-background-color: #DBCBFF;
    --custom-icon-color: #323232;
    --custom-icon-active: #323232;
    --header-control-background-color: #f1f5f7;
}

html[data-theme="dark"] {
    --custom-text-color: #ffffff;
    --custom-text-descr-color: rgba(255, 255, 255, 0.6);
    --custom-text-descr-color-revert: rgba(0, 0, 0, 0.6);
    --custom-text-color-base: rgba(255, 255, 255, 0.30);
    --custom-main-background-color: #23232c;
    --custom-background-color: #333646;
    --custom-background-color-f9: #333646;
    --custom-background-color-f9-additional: #272a37;
    --control-background-color: #333646;
    --custom-icon-color: #ffffff;
    --custom-icon-active: #323232;
    --control-active-background-color: #B898FF;
    --header-control-background-color: #272a37;
}

$control-background-color: var(--control-background-color);
$custom-main-background-color: var(--custom-main-background-color);
$custom-background-color: var(--custom-background-color);
$custom-background-color-f9: var(--custom-background-color-f9);
$custom-background-color-f9-additional: var(--custom-background-color-f9-additional);
$control-background-color: var(--control-background-color);
$custom-text-color: var(--custom-text-color);
$custom-text-decr-color: var(--custom-text-descr-color);
$custom-text-descr-color-revert: var(--custom-text-descr-color-revert);
$custom-icon-color: var(--custom-icon-color);
$custom-icon-active: var(--custom-icon-active);
$control-active-background-color: var(--control-active-background-color);
$custom-text-color-base: var(--custom-text-color-base);
$header-control-background-color: var(--header-control-background-color);


$grayF8: #f8f8f8;
$grayF0: #f0f0f0;
$grayF9: #f9f9f9;
$grayD3: #d3d3d3;


$custom-text-descr-color-static: rgba(255, 255, 255, 0.6);


$black1D: #1d1f24;

$border-color-first: #edf0f1;
$border-color-second: #16171b;
