@import "style/variables";

.FeatureCard {
    $root: &;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-color: $grayF9;
    border-radius: 20px;
    height: 839px;

    &__icon {
        width: 64px;
        height: 64px;
        display: block;
        margin-top: -32px;
        margin-bottom: 32px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-size: $font-size-32;
        font-weight: $font-weight-sm;
        line-height: $line-height-40;
        margin-bottom: 8px;
    }

    &__description {
        width: 59.6739%;
        text-align: center;
        font-family: Nunito Sans;
        font-size: $font-size-16;
        font-weight: $font-weight-sm;
        line-height: $line-height-22;
        color: $black-60;
        margin-bottom: 109px;
    }



    &__img-wrapper {
        border-top: 12px solid $border-color-first;
        border-left: 12px solid $border-color-first;
        border-top-left-radius: 12px;
        margin-top: auto;
        position: absolute;
        width: 1065px;
        height: 600px;
        left: 121px;
        bottom: 0;
        background-color: $border-color-first;

        img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    &_isDark {
        background-color: $black1D;

        #{$root}__title {
            color: $white;
        }

        #{$root}__description {
            color: $white;
            opacity: 0.6;
        }

        #{$root}__img-wrapper {
            border-color: $border-color-second;
            background-color: $border-color-second;
        }
    }
}
