@use 'style/variables';

.OverviewBlock {
  padding: 40px 80px;

  &__description {
    margin-bottom: 40px;
    max-width: 792px;
    white-space: pre-line;
  }
  
  .ListView__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
}
