@import "style/variables";

.ComponentPropsInfo {
    .GridView__table {
        max-width: 672px;
        width: 30px;

        td {
            overflow-wrap: break-word;
            word-wrap: break-word;
            white-space: normal;
        }
    }
}
