@use "style/variables" as vars;

.HeroSection {
    position: relative;
    padding-top: 212px;
    padding-bottom: 351px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;

    .Section__title,
    .Section__description {
        @media (max-width: vars.$m-mobile-width-small) {
            display: none;
        }
    }

    @media (max-width: vars.$m-tablet-width) {
        padding-top: 105px;
        padding-bottom: 157px;
    }

    @media (max-width: vars.$m-tablet-width-small) {
        padding-top: 72px;
        padding-bottom: 131px;
    }

    @media (max-width: vars.$m-mobile-width-small) {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    &__buttons {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 16px;
        margin-bottom: 64px;

        @media (max-width: vars.$m-mobile-width-small) {
            column-gap: 8px;
            margin-bottom: 24px;
        }

        .ButtonView {
            width: 190px;
            height: 56px;
            padding: 12px;

            @media (max-width: 400px) {
                width: 148px;
                height: 46px;
            }

            &__text {
                font-size: vars.$font-size-18;
                white-space: nowrap;
                font-style: normal;
                font-weight: vars.$font-weight-sm;
                line-height: vars.$line-height-24;

                @media (max-width: vars.$m-mobile-width-small) {
                    font-size: vars.$font-size-16;
                }
            }
        }
    }

    &__description {
        width: 46.66vw;
        margin-bottom: 0;
        text-align: center;
        color: vars.$custom-text-color;

        font-size: vars.$font-size-24;
        font-weight: vars.$font-weight-sm;
        line-height: vars.$line-height-34;

        @media (max-width: vars.$m-tablet-width) {
            width: 87.5vw;
        }

        @media (max-width: vars.$m-tablet-width-small) {
            width: 95.83333333vw;
        }

        @media (max-width: 384px) {
            font-size: vars.$font-size-18;
            line-height: vars.$line-height-24;
            width: 81.25vw;
        }
    }
}
