@import "style/variables";

.HeroSection {
    position: relative;
    padding-top: 264px;
    padding-bottom: 351px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    &__title {
        margin-top: 21px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 28px;

        &-letters {
            font-size: $font-size-96;
            font-weight: 700;
            line-height: $line-height-112;

            &:first-child {
                transform: translateX(-8px) translateY(1px);
            }

            &:last-child {
                transform: translateX(7px) translateY(1px);
            }
        }

        &-icon {
            width: 115px;
            height: 115px;

            transform: scale(1.42) translateX(-9px) translateY(3px);
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 16px;
        margin-bottom: 64px;

        .ButtonView {
            width: 190px;
            height: 56px;
            padding: 12px;

            &__text {
                font-size: 18px;
                font-family: Nunito;
                white-space: nowrap;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }

    &__description {
        width: 46.66vw;
        text-align: center;

        font-size: $font-size-24;
        font-weight: $font-weight-sm;
        line-height: $line-height-34;
    }
}
