@use "style/variables";

:root {
    --present-checkbox-border-color: #dbe2e6;
}

html[data-theme="dark"] {
    --present-checkbox-border-color: #ffffff;
}

$present-checkbox-border-color: var(--present-checkbox-border-color);

.ComponentPresent {
    position: relative;
    height: 571px;
    width: 47.9166vw;
    border-radius: 20px;
    padding: 24px;
    background-color: variables.$custom-background-color;
    border-radius: 20px;
    box-shadow:
        0px 0px 0px 0px rgba(69, 56, 98, 0.05),
        -2px 20px 45px 0px rgba(69, 56, 98, 0.05),
        -7px 81px 81px 0px rgba(69, 56, 98, 0.04),
        -16px 182px 110px 0px rgba(69, 56, 98, 0.03),
        -29px 324px 130px 0px rgba(69, 56, 98, 0.01),
        -46px 506px 142px 0px rgba(69, 56, 98, 0);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    @media (max-width: variables.$tablet-width) {
        width: 70.3125vw;
        height: auto;
        min-height: 450px;
    }

    @media (max-width: 800px) {
        width: 100%;
        min-height: 358px;
    }

    @media (max-width: variables.$mobile-width-small) {
        min-height: 304px;
    }

    &__themes {
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);

        .ButtonGroupView__button_default .IconView svg path,
        rect,
        circle {
            stroke: variables.$custom-icon-color;
        }

        .ButtonGroupView__button_active .IconView svg,
        path,
        rect,
        circle {
            stroke: variables.$custom-icon-active;
        }
    }

    &__component {
        margin-top: 24px;
    }

    &__component.CardView {
        @media (max-width: variables.$tablet-width) {
            margin-top: 42px;
        }

        @media (max-width: 340px) {
            transform: scale(0.9);
        }
    }

    &__component .CheckboxFieldView__label {
        &::before {
            border-color: $present-checkbox-border-color;
        }
    }
    
    &__component.InputFieldView { 
        margin-top: 0;
    }

    &__component.FormView {
        
        @media (max-width: 350px) {
            transform: scale(0.9);
        }

        @media (max-width: variables.$mobile-width-small) {
            margin-top: 32px;
            transform: scale(0.8);
        }
    }
}
