@use "style/variables";

:root {
    --footer-background-color: #f8f8f8;
    --footer-separator-color: #f0f0f0;
}

html[data-theme="dark"] {
    --footer-background-color: #23232c;
    --footer-separator-color: transparent;
}

$footer-background-color: var(--footer-background-color);
$footer-separator-color: var(--footer-separator-color);

%fontTemplate {
    font-size: variables.$font-size-18;
    font-weight: variables.$font-weight-sm;
    line-height: variables.$line-height-22;
    color: variables.$custom-text-decr-color;

    @media (max-width: 538px) {
        font-family: Nunito Sans;
        font-size: variables.$font-size-14;
        line-height: variables.$line-height-18;
    }
}

.Footer {
    $root: &;
    overflow: hidden;
    position: relative;
    padding: 64px 32px 24px 32px;
    background: $footer-background-color;
    @extend %fontTemplate;

    @media (max-width: variables.$tablet-width) {
        padding: 64px 16px 24px 16px;
    }

    @media (max-width: 538px) {
        padding: 16px 16px 28px 16px;
    }

    small {
        @extend %fontTemplate;
    }

    .ButtonView__text {
        @extend %fontTemplate;
        white-space: nowrap;
        transition: opacity variables.$transition-duration;

        &:hover {
          @extend %fontTemplate;
          opacity: 0.5;
        }
    }

    &__top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-bottom: 192px;

        @media (max-width: variables.$tablet-width-small) {
            padding-bottom: 122px;
        }

        @media (max-width: 538px) {
            padding-bottom: 16px;
        }

        &-left {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 160px;

            @media (max-width: 1150px) {
                column-gap: 50px;
            }

            @media (max-width: 800px) {
                row-gap: 12px;
                column-gap: 0;
                flex-direction: column;
            }

            @media (max-width: 538px) {
                row-gap: 8px;
            }

            .NavListView__list {
                display: flex;
                flex-flow: column nowrap;
                row-gap: 12px;
                max-width: 217px;

                @media (max-width: 538px) {
                    row-gap: 8px;
                }
            }
        }

        &-right {
            @media (max-width: 642px) {
                display: none;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;

        @media (max-width: variables.$tablet-width) {
            padding-top: 15px;
            padding-left: 16px;
            padding-right: 16px;
        }

        @media (max-width: 538px) {
            flex-flow: column nowrap;
            padding: 0;
            align-items: flex-start;
        }

        &-left {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            column-gap: 64px;

            @media (max-width: 538px) {
                flex-flow: column nowrap;
                align-items: flex-start;
                margin-top: 2px;

                .Footer__link {
                    order: 0;
                    margin-bottom: 10px;
                }

                small {
                    order: 1;

                    font-size: variables.$font-size-12;
                    font-weight: 300;
                }
            }
        }

        &-right {
            font-size: variables.$font-size-18;
            font-weight: variables.$font-weight-sm;
            line-height: variables.$line-height-22;

            @media (max-width: 538px) {
                font-size: variables.$font-size-12;
                font-weight: 300;
                line-height: variables.$line-height-16;
            }
        }
    }

    &__separator {
        position: absolute;
        bottom: 64px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $footer-separator-color;

        @media (max-width: 711px) {
            margin-bottom: 10px;
        }

        @media (max-width: 538px){
              margin-bottom: 0;
              bottom: 98px;
        }
    }
}
