@use "style/variables";

.HeaderLogo {
    width: 155px;
    height: 65px;

    .ButtonView__link {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }

    .ButtonView__text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 16px;
    }

    @media (max-width: variables.$mobile-width-small) {
        height: 64px;
        gap: 4px;
    }

    &__icon {
        width: 65px;
        height: 28px;
        transform: translateY(3px);

        @media (max-width: variables.$mobile-width-small) {
            width: 40px;
            height: 40px;
            transform: scale(1.45);
        }

        svg {
            width: 100%;
            height: 100%;
        }

        .AnimatedLogo__icon_foreground {
            width: 42px;
            height: 28px;
        }
    }

    &__title {
        font-size: variables.$font-size-20;
        font-weight: variables.$font-weight-sm;
        line-height: variables.$line-height-32;
        color: variables.$custom-text-color;

        transform: translateY(3px);

        @media (max-width: variables.$mobile-width-small) {
            font-size: variables.$font-size-18;
            font-weight: variables.$font-weight-sm;
            line-height: variables.$line-height-24;
        }
    }
}
