@use "style/variables";

.HeaderLogo {
    width: 155px;
    height: 65px;

    @media (max-width: variables.$mobile-width-small) {
        transform: translateX(-20px);
    }

    .ButtonView__link {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }

    .ButtonView__text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 16px;

        @media (max-width: variables.$mobile-width-small) {
            gap: 8px;
        }
    }

    @media (max-width: variables.$mobile-width-small) {
        height: 64px;
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        display: block;
        width: 65px;
        height: 28px;
        transform: translateY(3px);

        svg {
            width: 65px;
            height: 28px;
        }

        @media (max-width: variables.$mobile-width-small) {
            width: 42px;
            height: 18px;
            transform: none;
        }

        .AnimatedLogo__icon_foreground {
            width: 42px;
            height: 28px;

            @media (max-width: variables.$mobile-width-small) {
                width: 27px;
                height: 18px;
            }
        }

        .AnimatedLogo__icon_background {
            @media (max-width: variables.$mobile-width-small) {
                width: 42px;
                height: 18px;
            }
        }
    }

    &__title {
        font-size: variables.$font-size-20;
        font-weight: variables.$font-weight-sm;
        line-height: variables.$line-height-32;
        color: variables.$custom-text-color;

        transform: translateY(3px);

        @media (max-width: variables.$mobile-width-small) {
            font-size: variables.$font-size-18;
            font-weight: variables.$font-weight-sm;
            line-height: variables.$line-height-24;
            transform: translateY(-1.5px);
        }
    }
}
