@import 'style/variables';

:root { 
    --create-background-color: #FFFFFF;
}

html[data-theme='dark'] { 
    --create-background-color: #333646;
}

$create-background-color: var(--create-background-color);

.CreateSection {
    padding-top: 80px;
    padding-bottom: 160px;
    background-color: $create-background-color;


    &__cards {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 16px;

        .CreateCard { 
            width: 21.6666vw;
            height: 424px;
        }
    }
}
