html {
    font-size: 100%;
}

ul,
li {
    list-style-type: none;
}

p {
    margin: 0;
}

p,
span,
h2,
h3,
a {
    font-family: 'Nunito Sans', sans-serif;
}
* {
    min-height: 0;
    min-width: 0;
}
