@use "style/variables";

.ExampleCard {
    $root: &;

    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 32px;
    background-color: variables.$custom-background-color-f9;
    border-radius: 20px;
    height: 530px;
    width: 100%;

    @media (max-width: variables.$mobile-width-small) {
        height: 320px;
        padding: 16px;
    }

    &__title {
        margin-bottom: 0;
        align-self: flex-start;

        font-size: variables.$font-size-24;
        font-weight: variables.$font-weight-sm;
        line-height: variables.$line-height-34;

        @media (max-width: variables.$mobile-width-small) {
            font-size: variables.$font-size-14;
            line-height: variables.$line-height-16;
        }
    }

    &__img-wrapper {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__img-wrapper {
        max-width: 396px;
        max-height: 380px;

        margin: auto 0;

        @media (max-width: variables.$mobile-width-small) {
            img {
                width: 100%;
                height: 100%;
            }

            transform: scale(0.9);
        }
    }

    &__more {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        row-gap: 16px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        &-text {
            font-size: variables.$font-size-24;
            font-weight: variables.$font-weight-sm;
            line-height: variables.$line-height-34;
            margin-bottom: 0;

            @media (max-width: variables.$mobile-width-small) {
                font-size: variables.$font-size-14;
                line-height: variables.$line-height-16;
            }
        }

        .ButtonView {
            width: 190px;
        }
    }
}
