@use "style/variables";

.AdvantageCard {
    width: 240px;

    @media (max-width: 1080px) {
        width: 200px;
    }

    @media (max-width: 876px) {
        width: 172px;
    }

    @media (max-width: 764px) {
        width: 136px;
    }

    &__icon-wrapper {
        margin-bottom: 16px;
        height: 240px;
        border-radius: 20px;
        background-color: variables.$custom-background-color-f9;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: variables.$tablet-width) {
            height: 200px;
        }

        @media (max-width: 876px) {
            height: 172px;
        }

        @media (max-width: 764px) {
            height: 136px;
        }
    }

    &__description {
        text-align: center;
        margin-bottom: 0;
        color: variables.$custom-text-decr-color;
        font-size: variables.$font-size-16;
        font-weight: variables.$font-weight-sm;
        line-height: variables.$line-height-22;
        
        @media (max-width: 352px){
            font-size: variables.$font-size-12;
            font-weight: 300;
            line-height: variables.$line-height-16;
        }
    }
}
