@use "style/variables";

.Section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 32px;

    @media (max-width: variables.$tablet-width) {
        padding: 0 16px;
    }

    @media (max-width: variables.$mobile-width-small) {
        padding: 0;
    }

    &_isGray {
        background-color: variables.$custom-background-color-f9-additional;
    }

    &__title {
        position: relative;
        font-size: variables.$font-size-32;
        font-weight: variables.$font-weight-sm;
        line-height: variables.$line-height-40;
        margin-bottom: 8px;
        color: variables.$custom-text-color;
        z-index: 4;

        @media (max-width: variables.$mobile-width-small) {
            font-size: variables.$font-size-18;
            line-height: variables.$line-height-24;
        }

        &-postscript {
            position: relative;
            color: variables.$grayD3;
            z-index: 3;

            &:before {
                z-index: 0;
                position: absolute;
                content: "";
                width: 52px;
                height: 2px;
                background-color: variables.$grayD3;
                transform: translateX(-2px) translateY(26px);

                @media (max-width: variables.$mobile-width-small) {
                    transform: translateY(16px) translateX(-10px);
                    height: 1px;
                    width: 36px;
                }
            }
        }
    }

    &__description {
        width: 37.3958vw;
        text-align: center;
        font-size: variables.$font-size-16;
        font-weight: variables.$font-weight-sm;
        line-height: variables.$line-height-22;
        margin-bottom: 64px;
        color: variables.$custom-text-decr-color;

        @media (max-width: variables.$tablet-width) {
            width: 70.1171vw;
            margin-bottom: 32px;
        }

        @media (max-width: variables.$tablet-width-small) {
            width: 88.5416vw;
        }

        @media (max-width: variables.$mobile-width-small) {
            font-size: variables.$font-size-12;
            font-weight: 300;
            line-height: variables.$line-height-16;
        }
    }
}
