@use "style/variables";

.BurgerMenu {
  display: none;

  &__wrapper {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  &__button {
    display: block;
    width: 24px;
    height: 24px;
    background-color: variables.$control-background-color;
    border-radius: variables.$radius-large;
  }

  @media (max-width: 767px) {
    display: block;
  }
}
