@use "style/variables" as vars;

.BurgerMenu {
  display: none;

  &__wrapper {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  &__button {
    display: block;
    width: 24px;
    height: 24px;
    background-color: vars.$control-background-color;
    border-radius: vars.$radius-large;
  }

  @media (max-width: 767px) {
    display: block;
  }
}
