@import 'style/variables';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $gray;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 50px;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: $primary;
    text-decoration: underline;
  }
}
