.DemoCard {
    margin: 2em;
    padding: 2em;
    min-width: 30%;

    border: 2px dashed #7B61FF;
    border-radius: 30px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__description {
        margin-bottom: 3em;
    }
}
