@use "style/variables";
@use "style/mixins";

.DocsPage {
    display: flex;
    flex-flow: row nowrap;

    &__sidebar {
        @include mixins.sidebar(100vh);
        padding-right: 16px;


        @media (max-width: 1442px) {
            width: 272px;
            min-width: 272px;
        }
    
        @media (max-width: variables.$tablet-width-small) {
            width: 224px;
            min-width: 224px;
            padding: 12px;
        }

        .ButtonView .ButtonView__link .ButtonView__text {
            @media (max-width: variables.$tablet-width-small) {
                width: 147px;
            }
        }

        .TreeView__item {
            width: 300px;

            @media (max-width: 1442px){
                width: 240px;
            }

            @media (max-width: variables.$tablet-width-small){
                  width: 200px;
            }

            &_has-items:not(.TreeView__item_level_1):not(:first-child) .TreeView__item-label {
                margin-top: 16px;
            }

        }

        @media (max-width: 748px) {
            display: none;
        }
    }

    &__content {
        width: 100%;
    }
}
