@import 'style/variables';

$sidebar-width: 332px;

.DocsPage {
    
    &__sidebar {
        position: absolute;
        top: $header-height;
        left: 0;
        bottom: 0;
        padding: 20px;
        width: $sidebar-width;
    }

    &__content {
      margin-left: $sidebar-width;
    }
}
