@use "style/variables";

.DemoCard {
    margin-bottom: 40px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__link { 
        color: variables.$text-color;
    }
}
