@use "style/variables" as vars;

.DemoCard {
    margin-bottom: 40px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__link { 
        color: vars.$text-color;
    }
}
