@use "style/variables";

:root {
    --demo-card-content-background-color: #f8f8f8;
}

html[data-theme="dark"] {
    --demo-card-content-background-color: #272a37;
}
$demo-card-content-background-color: var(--demo-card-content-background-color);

.DemoCard {
    margin-bottom: 40px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__link {
        color: variables.$text-color;
    }

    &__content { 
        padding: 16px;
        border-radius: 20px;
        background-color: $demo-card-content-background-color;
    }
}
